<main class="form-register">
  <form [formGroup]="registerForm">
    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="Correo Electronico"
        formControlName="email"
      />
      <small
        *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']"
        class="form-text text-danger"
        >Este campo es requerido.</small
      >
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Contraseña"
        formControlName="password"
      />
      <small
        *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']"
        class="form-text text-danger"
        >Este campo es requerido.</small
      >
    </div>

    <button
      class="w-100 btn btn-lg btn-primary"
      [disabled]="registerForm.invalid"
      (click)="handleRegister()"
    >
      Registrarse
    </button>
    <a class="form-text text-primary" [routerLink]="'/login'">Iniciar sesion</a>
  </form>
</main>
